body {
  font-family: 'Roboto', Arial;
  box-sizing: border-box;
  /* Source: https://uigradients.com */
  background: #3a7bd5;
  background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
  background: linear-gradient(to right, #3a6073, #3a7bd5);
  display: flex;
}
/*.bg-custom {
  background: #dfdfdf;
}*/
.brd-btm-cst {
  border-bottom: 1px solid #d1d1d1;
}
.txt-sm-b {
  font-size: small;
  font-weight: bold;
}
.txt-sm {
  font-size: small;
}
.brd-top-cst {
  margin-left: auto;
  margin-right: auto;
  
  
}
button {
  color: #ffffff;
  background-color: #0065d8;
  border: 2px #d3d3d3 solid;
  border-radius: 8px;
  width: 100%;
  margin-top: 13px;
  padding: 2px;
  
}
button:focus {
  outline: none;
}
button:active {
  border: #808080 2px solid;
  border-radius: 8px;
  
}
input {
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  background: #e6e6e6;
}
.changeDisplay {
  text-align: center;
  font-weight: 400;
  border: solid #d3d3d3 1px;
  border-radius: 4px;
  width: 100%;
  padding: 15px;
  margin: 10px 20px;
}
.successful {
  
  color: #2c502c;
  background-color: #97ca97;
}
.caution {
  color: #502c2c;
  background-color: #ca9797;
}
.dollarsRow,  
.centsRow {
  
  padding: 15px;
  width: 100%;
  display: inline-flex;
  

}
.dollars, 
.cents {
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3vmax;
  color: #708090;
  background: #c9c9c9;
  width: 21%;
  height: 100px;
  border: #708090 1px solid;
  border-radius: 6px;
  padding: 15px 15px 18px 15px;
  text-align: center;
  margin: 2%;
  transition: ease 2000ms;
}
.register {
  border: transparent 1px solid;
  background: #f8f9fa;
  border-radius: 4px;
  min-width: 412px;
  /*overflow: auto;*/
  
}
.dollars:focus, 
.cents:focus {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: #3d503d 3px 5px 8px;
  font-size: 3.5vmax;
  color: #51b151;
  background: transparent;
  width: 21%;
  height: 100px;
  border: none;
  outline: none;  
  margin: 2%;
}